<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net461" />
  <package id="Moq" version="4.5.28" targetFramework="net461" />
  <package id="Sitecore.ContentSearch.Linq.NoReferences" version="8.2.160729" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.ContentSearch.NoReferences" version="8.2.160729" targetFramework="net461" developmentDependency="true" />
  <package id="Sitecore.Kernel.NoReferences" version="8.2.160729" targetFramework="net461" developmentDependency="true" />
</packages>